.ant-layout-sider-zero-width-trigger {
    z-index: 999;
}

.ReactCodeMirror {
    height: 100%;
    font-size: 12px;
}

.CodeMirror {
    height: 100%;
}

.CodeMirror-scroll {
    width: 100%;
}

.codeMirrorTabs.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
    border: 0;
    border-radius: 0;
    background: initial;
}

.draggable-item-variables {
    display: inline-block;
    padding: 0 8px;
    margin: 0 5px 5px 0;
    background: #f83318;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    cursor: move;
}

.draggable-item-inputparams {
    display: inline-block;
    padding: 0 8px;
    margin: 0 5px 5px 0;
    background: #389c9a;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
}

.draggable-item-userparams {
    display: inline-block;
    padding: 0 8px;
    margin: 0 5px 5px 0;
    background: #f83318;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
}
.draggable-item-exportparam {
    display: inline-block;
    padding: 0 8px;
    margin: 0 5px 5px 0;
    // background: #f83318;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
}

.dragClassVariables {
    opacity: 0.5;
}
