$color-tip: #ff0000;
$color-black: #000000;
$color-white: #ffffff;

$color-login-title: #87bfff;
$color-login-border: #dcdcdc;
$color-login-prefix-bg: #d8d8d8;

$color-layout-border: #e9eaec;
$color-right-side-bar: #f0f3fa;
$color-change-password-btn: #87bfff;

