//dark
$dark-bg: #2B2B2B;
$dark-bg-dark: #141616;
$dark-bg-title: #3B3F42;
$ant-active: #349999;
$color-white: #fff;
$color-shadow: #000;
$color-border: #25262A;


body {
    font-weight: 300;
    display: flex;
    flex-direction: column;
}

.darkTheme {
    .ant-layout-header{
        background: $dark-bg-dark;
        // box-shadow: 0 0 5px #b8b8b8;
    }

    .order-list-top{
        background: $dark-bg-title;
        border-color: $color-border;
    }

    .ant-list-header{background: $dark-bg-title;}
    .ant-list-empty-text{background: #fff}

    .ant-list-bordered{border-color: $color-border;}

    .trade_list{box-shadow: 2px 2px 13px $color-shadow;}
    .trade_control{color: #fff;}

    .ant-checkbox-disabled + span ,.ant-radio-disabled + span {
        color: #fff;
    }
    //禁止复制
    // body{
    //     user-select: none  !important;
    // }
    //card
    .ant-card{background: $dark-bg;}
    .ant-card .ant-card-head{
      background: $dark-bg;
      border-bottom: 1px solid #222;
      padding: 0 10px;
    }

    .ant-table-fixed-header > .ant-table-content > .ant-table-scroll > .ant-table-body{
        background: #2B2B2B!important;
    }
    .ant-table, .ant-card{
        border:1px solid #222;
    }
    .noShadow .ant-table, .noShadow .ant-card{
        box-shadow: none;
    }
    //slider
   .ant-slider-dot{border-color:#636363}
   .ant-slider-dot-active{border-color:$dark-bg-dark}
    //chart
    .qit_shadow{ border:1px solid #222;}
    //lyout-sider
    //table

    .qit-tr-active{background: $ant-active!important;}
    .qit-tr-active-dark{background: #14698c!important;}
    .qit-tr-active-head-dark{
        td {
            position: relative;
            .activeHead {
                width: 5px;
                height: 49px;
                background: #14698c;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }
    .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td{background: $ant-active!important;}
    .strategyList{
        .ant-table-row{background: $dark-bg-dark;}
    }
    .ant-table-thead > tr > th{
        background: $dark-bg-title;
        color: #ececec;
    }
    .ant-table-placeholder,
    .ant-list-empty-text{//no data
        background: rgba(0,0,0,0.3);
        color: #fff;
    }
    //分页
    .ant-pagination-item,
    .ant-pagination-prev,
    .ant-pagination-next .ant-pagination-item-link,
    .ant-pagination-prev .ant-pagination-item-link{background-color: $dark-bg-title;border-color: $dark-bg-title;}

    .ant-pagination-prev .ant-pagination-item-link,
    .ant-pagination-next .ant-pagination-item-link,
    .ant-pagination-disabled a, .ant-pagination-disabled:hover a{color: $color-white;}

    .ant-pagination-item-active{
        background-color: $ant-active;
        border-color: $ant-active;
        a {
            color: #fff
        }
    }

    .ant-pagination-prev:hover .ant-pagination-item-link,
    .ant-pagination-next:hover .ant-pagination-item-link,
    .ant-pagination-item:focus,
    .ant-pagination-item:hover{border-color: $ant-active;}

    //switch
    .ant-switch-checked{
        background-color: #3B3F42
    }
    //checkbox
    .ant-checkbox-checked .ant-checkbox-inner:after{
        border-color: $dark-bg-dark;
    }
    .ant-input{
        background-color: #24242b;
    }
    //radio
    .ant-radio-inner:after{
        background-color: $dark-bg-dark;
    }
    // market price navgation
    .navgation-type li{
        background: #3c3d42;
    }
    // card 默认不可编辑
    .cross_config_card-default{
        // background-color: $dark-bg-title !important;
        cursor: not-allowed;
    }
    //inputnumber
    .ant-input-number{
        border: 0;
        background-color: $dark-bg-dark;
    }

  //order book
  .manual-book-price-item-bid{
      background-color: #00cc99;
      line-height: 30px;
  }
  .manual-book-price-item-ask{
      background-color: #EA4F53;
      line-height: 30px;
  }
  .adjust-price{
      background-color: rgba(28, 29, 33, 1) ;
  }

  // button
  .ant-btn{
      background-color: rgba(60, 61, 66, 1) ;
      border:none;
  }
  // .ant-btn:active{
  //     color: #fff !important;
  // }
  .ant-btn:hover, .ant-btn:focus{
      color: #fff ;
      background: #2B2B2B;
  }
  //btn
  .btn-large-bg{
      background-color: #14698C ;
  }
  .btn-bottom-border:focus{
      border-bottom-color: #14698C !important;
  }
  .market-detail-setting-book{
      background-color: #3B3F42;
      border:none ;
  }
  .ant-checkbox-checked .ant-checkbox-inner{
      background-color:#fff ;
  }

  // table scroll
  // .ant-table td { white-space: nowrap; }

  .ant-radio-button-wrapper{
    background: #2B2B2B;
    color: #fff;
    border-color: rgba(60, 61, 66, 1);
  }
  .ant-radio-button-wrapper:first-child{
    border-left-color: rgba(60, 61, 66, 1);
  }
  .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-thead > tr > th{
    background-color: #3B3F42 !important;
  }
  .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-thead > tr > th {
    background-color: #3B3F42 !important;
  }
  .ant-collapse{
    background-color: #2B2B2B;
  }
  .ant-collapse-content{
    background-color: #3B3F42;
  }
  .ant-table-small > .ant-table-content > .ant-table-body{
    // margin: 0;
  }
  .ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th{
    background-color: #3B3F42;
  }
  .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
    border-color: #25262A;
    background: #3B3F42;
  }
  .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
    background: #25262A;
    border-color: #3B3F42;
  }
  .ant-tabs-top-bar {
    // margin: 0;
  }
  .ant-menu {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    color: #333333;
    background: #f2f2f2;
  }
  .ant-select-selection {
    border-radius: 0;
    border: 0;
  }
  .ant-input {
    border-radius: 0;
  }
  .ant-input-number {
    border-radius: 0;
  }

  .qit-tr-active-head-dark td {
    background: #14698c !important;
  }

  //card
  .ant-card{background: $dark-bg;}
  .ant-card .ant-card-head{background: $dark-bg-title;}

  .ant-table-fixed-header > .ant-table-content > .ant-table-scroll > .ant-table-body{
      background: #2B2B2B!important;
  }

  .qit-tr-active{background: $ant-active!important;}
  .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td{background: $ant-active!important;}
  .strategyList{
      .ant-table-row{background: $dark-bg-dark;}
  }
  .ant-table-thead > tr > th{
      background: $dark-bg-title;
  }
  .ant-table-placeholder,
  .ant-list-empty-text{//no data
      background: rgba(0,0,0,0.3);
      color: #fff;
  }
}

// 时间选择样式

.ant-time-picker-panel,.ant-calendar-picker-container,.ant-calendar-date, .ant-calendar-input,.ant-select-dropdown-menu-item,.ant-cascader-menu {
  color: rgba(0, 0, 0, 0.65) !important;
}

.ant-calendar-header .ant-calendar-century-select, .ant-calendar-header .ant-calendar-decade-select, .ant-calendar-header .ant-calendar-year-select, .ant-calendar-header .ant-calendar-month-select {
  color: rgba(0, 0, 0, 0.85) !important;
}

li.ant-time-picker-panel-select-option-selected,.ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled), .ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled):hover,li.ant-calendar-time-picker-select-option-selected {
  background: #f5f5f5 !important;
}

.ant-calendar .ant-calendar-ok-btn-disabled {
  color: #fff !important;
  background-color: #1890ff !important;
  border-color: #1890ff !important;
}

.ant-message {
  color: rgba(0, 0, 0, 0.65) !important;
}

.ant-table td, .ant-table th {
  white-space: nowrap;
  font-size: 12px;
  padding: 5px !important;
}
.ant-message .ant-message-notice{
    color: #2B2B2B
}
.ant-table-placeholder {
  position: relative;
  //top: 8px;
}
// .ant-modal-close-x{height: 30px;width: 30px;line-height: 30px;}
//隐藏 table 扩展 + 号
.components-table-demo-nested .ant-table-row-expand-icon-cell,.components-table-demo-nested .ant-table-expand-icon-th {
    display: none;
}
//book header bg

// 配置页灰色样式
.configPage {
  .focusNormalStyle {
    .ant-btn:focus {
      color: #2B2B2B;
      background: #fff;
      border-color: #2B2B2B;
    }
  }
  .ant-card-extra {
    color: #000;
  }
  .qit-tr-active-dark {
    color: #fff
  }
  .corePrice {
    .ant-table-thead > tr > th {
      color: #000;
    }
  }
  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    color: #000;
  }
  .ant-table ,.ant-card {
    box-shadow: none;
    background: #fff;
    color: #000;
    border: 1px solid #d3d3d3;
    border-right: 0 !important;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    th {
      border: 1px solid #d3d3d3 !important;
    }
    td {
      border: 1px solid #d3d3d3 !important;
    }
  }
  .ant-card-head {
    color: #000;
  }
  .ant-checkbox-wrapper,.ant-radio-wrapper {
    color: #000;
  }
  .ant-table-thead > tr > th {
    background: #ccc;
    color: #000;
  }
  .ant-table-fixed-header > .ant-table-content > .ant-table-scroll > .ant-table-body {
    background: #fff !important;
  }
  .ant-input {
    background: #fff !important;
    color: #000 !important;
  }
  .ant-btn {
    background: #fff;
    color: #000;
    border: 1px solid #000;
  }
  .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-thead > tr > th {
    background: #ececec !important;
    color: #000;
  }
  .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-thead > tr > th {
    background: #ececec !important;
    color: #000;
  }
  .ant-card .ant-card-head {
    background: #fff;
    border-bottom: 0
  }
  .ant-checkbox-disabled + span, .ant-radio-disabled + span {
    color: #000;
  }
  .ant-radio-disabled .ant-radio-inner, .ant-checkbox-disabled .ant-checkbox-inner {
    border-color: #ccc !important;
    background-color: #ccc;
    // :after{
    //   color: #000;
    //   background: #000
    // }
  }
  .ant-radio-disabled .ant-radio-inner:after {
    background: #000;
  }
  .ant-checkbox-disabled .ant-checkbox-inner:after {
    color: #000;
  }
  .core-price .title-wrapper .search-icon {
    color: #000;
  }
  .core-price .edit-wrapper .content-wrapper-1 {
     color: #000;
     .ant-select {
       color: #000;
       background: #fff;
     }
  }
  .core-price .edit-wrapper .ant-select-arrow-icon {
    color: #000;
  }
  .core-price .edit-wrapper .input-label {
    color: #000;
  }
  .core-price .edit-wrapper .ant-select-selection {
    background: #fff;
    color: #000;
  }
  .core-price .edit-wrapper .min-sources-input {
    background: #fff !important;
  }
  .core-price .edit-wrapper .preset-input {
    background: #fff !important;
  }
  .marketData {
    .ant-btn {
      color: #fff;
      border: 0
    }
  }
  .ant-collapse {
    background: initial;
  }
  .ant-collapse-header {
    background: #fff;
    color: #14698c;
    font-weight: 700;
  }
  .collapse-name {
    color: #14698c;
    font-weight: 700;
  }
  .autoHedgePage {
    .ant-table-tbody > tr > td {
      border-bottom: 1px solid #d3d3d3 !important;
    }
    .ant-spin-nested-loading {
      height: 100%;
      .ant-spin-container {
        height: 100%;
        .ant-table {
          height: 100%;
        }
      }
    }
  }

  .edit-bottom-button-wrapper .ant-btn:disabled {
    opacity: 0.5;
    color: #fff;
  }

  .ant-table-small {
    border-radius: 0
  }
  .ant-table-small.ant-table-bordered .ant-table-content {
    border-right: 0;
  }
  .ant-table-bordered .ant-table-header > table, .ant-table-bordered .ant-table-body > table, .ant-table-bordered .ant-table-fixed-left table, .ant-table-bordered .ant-table-fixed-right table {
    border: 0;
  }
  .core-price .table-wrapper .ant-table table, .core-price .table-wrapper .ant-table th, .core-price .table-wrapper .ant-table td {
    // border: 0;
  }
  .ant-table-small > .ant-table-title {
    border-bottom: 1px solid #d3d3d3;
  }
  .ant-table-small.ant-table-bordered .ant-table-title {
    border: 1px solid #d3d3d3;
  }
  .ant-table-placeholder, .ant-list-empty-text {
    background: #ececec;
  }
  .pricing .tabTitle_marginRight,
  .core-price .title-wrapper .title,
  .pricing .pricingtitle,
  .market_price_title label,
  .market_price_config_title,
  .core-price .edit-wrapper .title,
  .configPage .collapse-name,
  .configPage .collapse-name
   {
    color: #3f918e;
  }
  .ant-table-small.ant-table-bordered {
    border-right: 1px solid #d3d3d3;
  }

  .ant-table-bordered.ant-table-empty .ant-table-placeholder {
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    color: #000;
  }

  .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td{
    background: #3f918e !important;
  }

  .core-price .edit-wrapper .content-wrapper-3 .init-status-background {
    background-color: #979797;
  }
  .ant-input-number-input {
    background-color: #fff;
    border-radius: 0;
    color: #000;
  }
  .core-price .selected-row {
    color: #fff;
  }
  .core-price .edit-wrapper .content-wrapper-3 .group-list-wrapper .group-selected-row,.core-price .edit-wrapper .content-wrapper-3 .source-list-wrapper .source-selected-row {
    border-bottom: 0;
  }
  .ant-input-affix-wrapper .ant-input:not(:last-child) {
    border-radius: 12px;
    border: 1px solid #d3d3d3;
    height: 24px;
  }
  .core-price .table-wrapper .ant-table th {
    font-size: 12px;
  }
  .ant-table th, .ant-card th {
    font-size: 12px;
    color: #000;
  }

  .core-price .edit-wrapper .ant-table table, .core-price .edit-wrapper .ant-table th, .core-price .edit-wrapper .ant-table td {
    // border-left: 0 !important;
    // border-top: 0 !important;
  }
  .noBorder {
    td {
      border: 0 !important;
    }
  }
  .ant-table-placeholder, .ant-list-empty-text {
    color: #000;
  }
  .ant-table-small.ant-table-bordered .ant-table-title {
    border: 0;
  }
  .qit-select-bg .ant-select-selection {
    background-color: #fff;
    color: #000;
  }
}
.symbolList .ant-table-placeholder {
  display: none;
}
body{ -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;}

.symbolList_groups .ant-table, .symbolList_groups .ant-card,.symbolList .ant-table, .symbolList .ant-card {
  border: 0;
}
i.anticon {
  cursor: pointer;
}
