// $color-font: #333;

// $color-list-border: #d9d9d9;
// $color-title-bg: #fff;

// $ant-tag-active: #e6f7ff;
$color-border: #e8e8e8;
$color-shadow: #b8b8b8;

.lightTheme{
    .ant-layout-header{
        background: #595B61;
        // box-shadow: 2px 2px 13px #000;
    }


    .ant-card{
        box-shadow: 2px 2px 13px $color-shadow;
    }
 //chart
    .qit_shadow{ box-shadow: 2px 2px 13px $color-shadow;}
    

    // market price navgation
    .navgation-type li{
        background: #595B61;
    }

    .qit-tr-active{background: #e6f7ff}
    .adjust-price{
        background-color: rgb(225, 227, 236) !important;
    }
    .market-detail-setting-book{
        background-color: #fff;
        border:none ;
    }

}
