// $color-font: #333;

// $color-list-border: #d9d9d9;
// $color-title-bg: #fff;

// $ant-tag-active: #e6f7ff;
$color-border: #e8e8e8;
$color-shadow: #b8b8b8;

.lightTheme{
    .ant-layout-header{
        background: #595B61;
        // box-shadow: 2px 2px 13px #000;
    }
//交易分析
    .ask_listItem_light{background: #f3e9e7;}
    .ask_listItem_dark{background: #ddb9b9;}
    .order_listItem_light{background: #e7ebf5;}
    .order_listItem_dark{background: #b9c5e1;}
    .bid_listItem_light{background: #e7f1eb;}
    .bid_listItem_dark{background: #b7d7c7;}
    .listItem_current{background: #f96;}

    .trade_list{box-shadow: 2px 2px 13px $color-shadow;}

    .order-list-top{
        border-color: $color-border;
    }

    .ant-table, .ant-card{
        box-shadow: 2px 2px 13px $color-shadow;
    }
 //chart
    .qit_shadow{ box-shadow: 2px 2px 13px $color-shadow;}
    .qit-tr-active{background: #e6f7ff}
}