.body-wrapper {
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: #1c1c1c;
    flex: 1;
    .header-wrapper {
        display: flex;
        height: 40px;
        background-color: #313131;
        line-height: 40px;
        .logo {
            width: 100px;
            height: 40px;
            .pic {
                display: inline-block;
                width: 30px;
                height: 30px;
                margin-top: 10px;
                background-repeat: no-repeat;
                background-size: 30px 30px;
                //background-image: url("../../images/favicon.ico");
            }
            .name {
                margin-left: 20px;
                font-size: 20px;
                font-weight: bold;
            }
        }
        .trade-item {
            width: 60px;
            text-align: center;
            .active-bar {
                position: fixed;
                z-index: 100;
                width: 60px;
                height: 3px;
                background: #3e9896;
            }
        }
        .active-item {
            background: #1c1c1c;
        }
    }
}
.queue-anim-entering {

}
.queue-anim-leaving {
    display: none;
}
.hover-click {
    cursor: pointer;
}
