.core-price {
  padding: 10px;
  font-size: 14px;
}

.core-price div {
  display: flex;
  flex-direction: row;
}

.core-price .ant-table-content {
  display: block;
}

.core-price .ant-table-placeholder {
  justify-content: center;
}

.core-price .title-wrapper {
  justify-content: space-between;
  padding-bottom: 0;
}

.core-price .title-wrapper .title {
  font-size: 18px;
  font-weight: 700;
  color: #14698c;
  white-space: nowrap;
}

.core-price .title-wrapper .search-input {
  height: 25px;
  border-radius: 20px;
  margin-left: 20px;
  background-color: inherit;
}

.core-price .title-wrapper .search-icon {
  margin-left: -23px;
  margin-top: 5px;
  cursor: pointer;
  z-index: 2;
}

.core-price .title-wrapper .menu-wrapper {
  font-size: 25px;
}

.core-price .title-wrapper .menu-wrapper .delete-menu-icon {
  margin-left: 10px;
}

.core-price .table-wrapper div {
  width: 100%;
}

.core-price .table-wrapper .ant-table-wrapper {
  width: 100%;
}

.core-price .table-wrapper .ant-table {
  width: 100%;
}

.core-price .table-wrapper .ant-table table, .core-price .table-wrapper .ant-table th, .core-price .table-wrapper .ant-table td {
  border: 1px solid #6b6b6c;
  padding: 0px !important;
  text-align: center;
}

.core-price .table-wrapper .ant-table th {
  font-size: 16px;
  height: 30px;
}

.core-price .table-wrapper .ant-table th div {
  justify-content: center;
}

.core-price .table-wrapper .ant-table td {
  font-size: 14px;
  height: 20px;
}

.core-price .table-wrapper .ant-table .ant-table-tbody > tr:hover > td {
  background-color: inherit;
}

.core-price .selected-row {
  background-color: #14698c;
}

.core-price .separator {
  height: 1px;
  width: 100%;
  background-color: #FFFFFF;
  margin: 10px 0;
}

.core-price .edit-wrapper {
  position: relative;
  flex-direction: column;
}

.core-price .edit-wrapper .ant-select-selection {
  background-color: inherit;
  border-radius: 0px;
  padding: 0px;
  font-size: 14px;
  width: 100%;
  justify-content: center;
}

.core-price .edit-wrapper .ant-select-disabled, .core-price .edit-wrapper .ant-input-disabled {
  opacity: 0.5;
  color: inherit;
}

.core-price .edit-wrapper .ant-radio-disabled {
  color: inherit;
}

.core-price .edit-wrapper .ant-radio-disabled + span {
  color: inherit;
}

.core-price .edit-wrapper .ant-select-arrow-icon {
  color: white;
}

.core-price .edit-wrapper .ant-table-wrapper, .core-price .edit-wrapper .ant-spin-nested-loading, .core-price .edit-wrapper .ant-spin-container, .core-price .edit-wrapper .ant-table-content, .core-price .edit-wrapper .ant-table-body {
  width: 100%;
}

.core-price .edit-wrapper .ant-table {
  width: 100%;
  box-shadow: none;
}

.core-price .edit-wrapper .ant-table table, .core-price .edit-wrapper .ant-table th, .core-price .edit-wrapper .ant-table td {
  border: none;
  background-color: inherit;
  padding: 0px !important;
  text-align: center;
}

.core-price .edit-wrapper .ant-table tr {
  margin-bottom: 5px;
}

.core-price .edit-wrapper .ant-table th {
  font-size: 16px;
  height: 30px;
}

.core-price .edit-wrapper .ant-table th div {
  justify-content: center;
}

.core-price .edit-wrapper .ant-table td {
  font-size: 14px;
  height: 30px;
}

.core-price .edit-wrapper .ant-table .ant-table-tbody > tr:hover > td {
  background-color: inherit;
}

.core-price .edit-wrapper .ant-radio-group {
  display: inline-block;
}

.core-price .edit-wrapper .title {
  font-size: 18px;
  font-weight: 700;
  color: #14698c;
  white-space: nowrap;
}

.core-price .edit-wrapper .input-wrapper {
  margin-right: 5%;
}

.core-price .edit-wrapper .input-label {
  margin-right: 5px;
  white-space: nowrap;
}

.core-price .edit-wrapper .preset-input {
  width: 80px;
}

.core-price .edit-wrapper .tenor-input {
  width: 60px;
}

.core-price .edit-wrapper .tenor-input-2 {
  width: 60px;
  margin-left: 5px;
}

.core-price .edit-wrapper .min-sources-input {
  width: 24px;
  text-align: center;
}

.core-price .edit-wrapper .symbol-select {
  width: 92px;
}

.core-price .edit-wrapper .type-select {
  width: 80px;
}

.core-price .edit-wrapper .agg-select {
  width: 100%;
}

.core-price .edit-wrapper .content-wrapper-1 {
  margin-top: 13px;
}

.core-price .edit-wrapper .content-wrapper-2 {
  margin-top: 13px;
}

.core-price .edit-wrapper .content-wrapper-3 {
  margin-top: 13px;
}

.core-price .edit-wrapper .content-wrapper-3 .ant-card {
  flex-direction: column;
  height: 100%;
}

.core-price .edit-wrapper .content-wrapper-3 .ant-card-head {
  height: 30px;
  padding: 0px 10px 0px 10px;
  min-height: 30px;
}

.core-price .edit-wrapper .content-wrapper-3 .ant-card-head .ant-card-head-wrapper {
  width: 100%;
}

.core-price .edit-wrapper .content-wrapper-3 .ant-card-head .ant-card-head-title {
  padding: 0px;
}

.core-price .edit-wrapper .content-wrapper-3 .ant-card-extra {
  padding: 0px;
}

.core-price .edit-wrapper .content-wrapper-3 .ant-card-body {
  padding: 0px;
  width: 100%;
}

.core-price .edit-wrapper .content-wrapper-3 .group-list-wrapper, .core-price .edit-wrapper .content-wrapper-3 .source-list-wrapper, .core-price .edit-wrapper .content-wrapper-3 .detail-info-wrapper {
  flex-direction: column;
}

.core-price .edit-wrapper .content-wrapper-3 .group-list-wrapper {
  width: 20%;
  min-height: 260px;
}

.core-price .edit-wrapper .content-wrapper-3 .group-list-wrapper .group-content-wrapper {
  width: 100%;
}

.core-price .edit-wrapper .content-wrapper-3 .group-list-wrapper .group-selected-row {
  border-bottom: 2px solid #14698c;
}

.core-price .edit-wrapper .content-wrapper-3 .source-list-wrapper {
  width: 51%;
  min-height: 260px;
}

.core-price .edit-wrapper .content-wrapper-3 .source-list-wrapper .source-content-wrapper {
  width: 100%;
}

.core-price .edit-wrapper .content-wrapper-3 .source-list-wrapper .source-selected-row {
  border-bottom: 2px solid #14698c;
}

.core-price .edit-wrapper .content-wrapper-3 .source-list-wrapper .source-fullname-wrapper {
  width: 100%;
  justify-content: center;
}

.core-price .edit-wrapper .content-wrapper-3 .source-list-wrapper .source-fullname-wrapper .ant-input {
  text-align: center;
}

.core-price .edit-wrapper .content-wrapper-3 .source-list-wrapper .switch-wrapper {
  height: 100%;
  justify-content: center;
  align-items: center;
}

.core-price .edit-wrapper .content-wrapper-3 .source-list-wrapper .switch1-input {
  border: 1px solid #ffff00;
  width: 24px;
  height: 20px;
  padding: 0px;
  text-align: center;
}

.core-price .edit-wrapper .content-wrapper-3 .source-list-wrapper .switch2-input {
  border: 1px solid #bd080a;
  width: 24px;
  height: 20px;
  margin-left: 5px;
  padding: 0px;
  text-align: center;
}

.core-price .edit-wrapper .content-wrapper-3 .detail-info-wrapper {
  width: 25%;
  min-height: 260px;
}

.core-price .edit-wrapper .content-wrapper-3 .list-title-wrapper {
  height: 30px;
  justify-content: space-between;
  padding: 5px 10px 5px 10px;
}

.core-price .edit-wrapper .content-wrapper-3 .list-title-wrapper .list-title {
  font-weight: 500;
  font-size: 14px;
}

.core-price .edit-wrapper .content-wrapper-3 .list-title-wrapper .menu-wrapper {
  margin-top: 3px;
}

.core-price .edit-wrapper .content-wrapper-3 .list-title-wrapper .menu-wrapper .delete-menu-icon {
  margin-left: 2px;
}

.core-price .edit-wrapper .content-wrapper-3 .group-content-wrapper .agg-select {
  width: 100%;
}

.core-price .edit-wrapper .content-wrapper-3 .init-status-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.core-price .edit-wrapper .content-wrapper-3 .init-status-background {
  width: 40px;
  height: 20px;
  background-color: #000000;
  border: 1px solid #cccccc;
}

.core-price .edit-wrapper .content-wrapper-3 .init-status-on {
  background-color: #00ff00;
  color: #000000;
  font-weight: bold;
  margin-left: 3px;
}

.core-price .edit-wrapper .content-wrapper-3 .init-status-off {
  background-color: #ff1100;
  color: #000000;
  font-weight: bold;
  margin-left: 13px;
}

.core-price .edit-wrapper .content-wrapper-3 .status-icon-wrapper {
  justify-content: center;
}

.core-price .edit-wrapper .content-wrapper-3 .status-icon-wrapper .status-icon {
  height: 20px;
  width: 20px;
  background-color: #cccccc;
  border-radius: 3px;
  justify-content: center;
  margin-left: 2px;
}

.core-price .edit-wrapper .content-wrapper-3 .status-icon-wrapper .status-icon-enabled {
  background-color: #00cc99;
}

.core-price .edit-wrapper .content-wrapper-3 .detail-content-wrapper {
  flex-direction: column;
  padding: 0 10px 0px 10px;
}

.core-price .edit-wrapper .content-wrapper-3 .detail-content-wrapper .info-line {
  flex-direction: row;
  width: 100%;
  margin-top: 15px;
}

.core-price .edit-wrapper .content-wrapper-3 .detail-content-wrapper .info-label {
  width: 50%;
}

.core-price .edit-wrapper .content-wrapper-3 .detail-content-wrapper .info-value {
  width: 50%;
}

.core-price .edit-wrapper .edit-bottom-button-wrapper {
  margin-top: 20px;
  justify-content: flex-end;
  width: 100%;
}

.core-price .edit-wrapper .edit-bottom-button-wrapper .ant-btn {
  width: 80px;
  border: 0px;
}

.core-price .edit-wrapper .edit-bottom-button-wrapper .ant-btn:disabled {
  opacity: 0.5;
}

.core-price .edit-wrapper .edit-bottom-button-wrapper .save-btn {
  margin-left: 20px;
}

.core-price .edit-wrapper .edit-icon-wrapper {
  height: 20px;
  width: 20px;
  position: absolute;
  right: 0;
  top: 10px;
  color: #bfbfbf;
}

.core-price .edit-wrapper .edit-icon-wrapper .anticon, .core-price .edit-wrapper .edit-icon-wrapper svg {
  width: 100%;
  height: 100%;
}

.core-price .hide {
  display: none;
}

.ant-table-thead > tr:first-child > th:first-child {
  border-top-left-radius: 0 !important;
}

.ant-table-thead > tr:first-child > th:last-child {
  border-top-right-radius: 0 !important;
}

.tradingCard .ant-card-body {
  padding: 0px !important;
}

.ant-card-extra {
  padding: 0px;
}

.ant-collapse .ant-collapse-item .ant-collapse-header .anticon {
  left: initial;
  right: 16px;
}

.ant-collapse-borderless.ant-collapse > .ant-collapse-item {
  border-bottom: 0;
}
