.distribution-item-wrapper {
    .ant-input-number-handler-wrap {
        display: none;
    }
    .ant-input-number-sm input {
        padding: 0 3px !important;
    }
    .anticon svg {
        // font-size: 20px;
    }
    .ant-select-selection {
        background-color: inherit;
        border-radius: 0px;
        padding: 0px;
        font-size: 12px;
        //width: 100%;
        width: 100px;
        justify-content: center;
        margin-left: 5px;
    }
    .ant-select-disabled,.ant-input-disabled,button:disabled {
        opacity: 0.5;
        color: inherit;
    }
    .ant-select-arrow-icon {
        color: white;
    }
    .ant-form-item {
        margin-bottom: 0px;
    }

    .selected-row {
        box-shadow: 0 0 0 3px #349999
    }
    .ant-form label {
        font-size: 12px
    }
    .single-line-content-wrapper {
        border-top: 1px solid #222;
        border-bottom: 1px solid #222;
        border-collapse: collapse;
        margin-top: -1px;
        height: 45px;
        line-height: 45px;
        padding: 0px 10px 0px 10px;
    }

    .multi-line-content-wrapper {
        border-top: 1px solid #222;
        border-bottom: 1px solid #222;
        border-collapse: collapse;
        margin-top: -1px;
        height: 160px;
        line-height: 45px;
        padding: 0px 10px 0px 10px;
    }


    .info-row {
        height: 45px;
        line-height: 45px;
        display: flex;
        align-items: center;
        padding: 5px;
    }

    .display-name {
        font-size: 14px;
        font-weight: bold;
    }

    .info-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 12px;
    }
        
    .info-label {
        // font-weight: bold;
    }
    .info-value {
        opacity: 0.8;
        margin-left: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .info-value-wrapper {
        margin-left: 5px;
    }

    .counter-party-table-wrapper {
        height: 100px;
        overflow-x: hidden;
        overflow-y: scroll;
        // margin-bottom: 10px;
        background-color: #000000;

        .ant-table-thead > tr > th,td {
            padding: 0px;
            background-color: #000000;
            text-align: left;
        }
        .ant-table-row-expand-icon-cell,.ant-table-expand-icon-th {
            width: auto;
            min-width: 0px;
        }

        .ant-table-row-spaced {
            width: 0px;
            min-width: 0px;
            margin-right: 0px;
        }
    }
    
    .operation-menu-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        .stop-btn {
            margin-left: 10px;
            color: white;
            background-color: #EA4F53;
        }

        .start-btn {
            background-color: #00cc99;
            margin-left: 10px;
            color: white;
        }

        .halt-btn:disabled {
            background-color: #ffcc33;
            color: white;
            opacity: 1;
        }

    }
    .expand-menu-wrapper,.shrink-menu-wrapper {
        font-size: 25px;
        text-align: right;
        font-weight: bold;
    }

    .shrink-icon {
        margin-left: 10px;
    }

    .reset-button-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        height: 45px;
    }

    .apply-button-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .no-liquidity-select {
        // margin-left: 5px;
        // width: 70px;
        // height: 20px;
        
    }

    .spread-value-input,.freq-value-input,.skew-value-input {
        width: 40px;
        height: 24px;
        border-radius: 0px;
        padding: 0px;
        text-align: center;
    }

    .display-name-input {
        width: 100%;
        border-radius: 0px;
        border: none;
        font-size: 16px;
        font-weight: bold;

    }

    .threshold-info-wrapper {
        display: flex;
        flex-direction: row;
        margin-left: 5px;

        .threshold-spread-input,.threshold-move-input {
            margin: 0px 3px 0px 3px;
            width: 30px;
            height: 24px;
            border-radius: 0px;
            padding: 0px;
            text-align: center;
        }
        .spread-wrapper,.move-wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .move-wrapper {
            margin-left: 5px;
        }
    }

    .icon-disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    .sub-party-info-wrapper {
        font-size: 12px;
    }

    .sub-party-status-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;

        .sub-party-status-icon-live,.sub-party-status-icon-offline {
            height: 10px;
            width: 10px;
            background-color: #018501;
            border-radius: 50%;
            margin-right: 5px;
        }
        .sub-party-status-icon-offline {
            background-color: #c20202;
        }
    }

    .quote-info-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: left;
        font-weight: bold;
        width: 100%;
        font-size: 13px;

        .bid-quote-info {
            color: #00cc99;
            width: 50%;
            text-align: center;
        }
        .ask-quote-info {
            color: #EA4F53;
            width: 50%;
            text-align: center;
        }
    }
}