.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 0px 0px 0px 0px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  //padding: 4px 20px;
}
.tabButton {
  border: 0 !important;
  margin-right: 10px;
  border-radius: 3px !important;
  padding: 0 5px;
  // 
  height: 25px;
  line-height: 26px;
  &.ant-radio-button-wrapper-checked {
    background: #1890ff !important;
    &:hover {
      color: #fff;
    }
  }
  &:not(:first-child)::before {
    display: none;
  }
  min-width: 50px;
  text-align: center;
  background: initial !important;
}

.tradeBlotterType .ant-select-selection {
  background: rgb(59, 63, 66);
  border: 1px solid #fff;
  color: #fff;
  .ant-select-arrow {
    color: #fff;
  }
}