#place-order-form > .ant-row > .ant-form-item-label {
  text-align: left;
}
#place-order-form > .ant-row > .ant-form-item-control-wrapper > .ant-form-item-control {
  text-align: left;
}
.ajustBtn:hover {
  cursor: pointer;
}
.ant-select-selection {
  border-radius: 0;
}
#place-order .ant-input {
  border: 0;
  background: black !important;
}
#place-order .ant-input-number {
  background: black;
}

#place-order .qit-select-bg .ant-select-selection {
  background: black;
}
.liquidity-modal .ant-modal-header {
  background: #3b3f42;
  height: 30px;
  display: flex;
  align-items: center;
}
#cpty .ant-select-selection {
  border: 1px solid #d9d9d9
}
.add-symbol #side .ant-select-selection {
  border: 1px solid #d9d9d9
}
#add-symbol .ant-input-number {
  border: 1px solid #d9d9d9 !important;
  border-radius: 0;
  height: 22px;
}
#add-symbol .ant-input-number-input{
  height: 22px;
}

#quantity .ant-input-number-handler-wrap {
  display: none;
}
.counter-party-hover:hover {
  cursor: pointer;
}
#place-order #netPosition {
  color: white;
  background: rgb(21, 21, 22) !important;
}

#place-order-form .ant-row .ant-form-item-label {
  text-align: left;
}

.place-order-btn:disabled {
  color: grey !important;
}
