.market-detail-setting i {
  margin-top: 5px;
  line-height: 40px;
  float: right;
  font-size: 18px;
  margin-right: 5px;
}

.ant-table-tbody > tr > th {
  padding: 14px 16px !important;
}

.ant-table-tbody > tr > td {
  padding: 3px 16px;
}

.market_price_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.market_price_header p {
  font-weight: bold;
  font-size: 1.5em;
  margin: 1vh 0;
}

.pricing .tabTitle {
  margin-bottom: 10px;
  height: 33px;
}

.pricing .tabTitle i {
  font-size: 16px;
  margin-right: 10px;
}

.pricing .tabTitle_marginRight {
  margin-right: 10px;
  font-weight: 700;
  color: #14698c;
  font-size: 18px;
  margin-top: 4px;
}

.pricing .pricingtitle {
  font-size: 18px;
  font-weight: 700;
  color: #14698c;
  display: inline-block;
  margin-top: 10px;
}

.pricingList .ant-table-tbody > tr > td {
  padding: 0px 10px !important;
}

.pricingList .ant-table-tbody input {
  padding: 0;
  height: 20px;
}

#components-table-demo-drag-sorting tr.drop-over-downward td {
  border-bottom: 2px dashed #1890ff;
}

#components-table-demo-drag-sorting tr.drop-over-upward td {
  border-top: 2px dashed #1890ff;
}

.market_proce_config_box {
  display: flex;
}

.corePriceTable .ant-spin-nested-loading, .corePriceTable .ant-table-scroll {
  flex-direction: column;
}

.maxHeightTable .ant-table {
  display: flex;
  flex-direction: column;
}

.maxHeightTable .ant-table .ant-table-content {
  flex: 1;
}

.maxHeightTable .ant-table .ant-table-content .ant-table-scroll {
  height: 100%;
}

.maxHeightTable .ant-table .ant-table-content .ant-table-scroll .ant-table-body {
  height: 100%;
}

.maxHeightTable .ant-spin-nested-loading {
  height: 100%;
}

.maxHeightTable .ant-spin-nested-loading .ant-spin-container {
  height: 100%;
}

.maxHeightTable .ant-spin-nested-loading .ant-spin-container .ant-table {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.maxHeightTable .ant-spin-nested-loading .ant-spin-container .ant-table .ant-table-content {
  flex: 1;
}

.maxHeightTable .ant-spin-nested-loading .ant-spin-container .ant-table .ant-table-content .ant-table-scroll {
  height: 100%;
}

.maxHeightTable .ant-spin-nested-loading .ant-spin-container .ant-table .ant-table-content .ant-table-scroll .ant-table-body {
  height: 100%;
}

.optionRiskTable {
  height: 100%;
}

.optionRiskTable .ant-table-placeholder {
  display: none;
}

.optionRiskTable .ant-table-header {
  margin-bottom: 0 !important;
}

.optionRiskTable .ant-spin-nested-loading {
  height: 100%;
}

.optionRiskTable .ant-spin-nested-loading .ant-spin-container {
  height: 100%;
}

.optionRiskTable .ant-spin-nested-loading .ant-spin-container .ant-table {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.optionRiskTable .ant-spin-nested-loading .ant-spin-container .ant-table .ant-table-content {
  flex: 1;
  display: flex;
}

.optionRiskTable .ant-spin-nested-loading .ant-spin-container .ant-table .ant-table-content .ant-table-scroll {
  display: flex;
}

.optionRiskTable .ant-spin-nested-loading .ant-spin-container .ant-table .ant-table-content .ant-table-scroll .ant-table-body {
  flex: 1;
}
