.reference-price-wrapper .title {
  font-size: 18px;
  font-weight: 700;
  color: #14698c;
  white-space: nowrap;
}

.reference-price-wrapper .field-wrapper label {
  white-space: nowrap;
}

.reference-price-wrapper .field-wrapper .field-label {
  font-weight: 500;
  font-size: 12px;
}

.reference-price-wrapper .field-wrapper .field-value {
  margin-left: 4px;
  opacity: 0.7;
  font-size: 12px;
}

.reference-price-wrapper .source-list-wrapper {
  margin-top: 7px;
  margin-bottom: 8px;
}

.reference-price-wrapper .source-list-wrapper .group-title-wrapper {
  background: #666666;
  padding-left: 5px;
}

.reference-price-wrapper .source-list-wrapper .list-content-wrapper {
  overflow-x: hidden;
  overflow-y: auto;
}

.reference-price-wrapper .source-list-wrapper .source-row {
  padding: 5px 5px 5px 5px;
}

.reference-price-wrapper .source-list-wrapper .source-column {
  text-align: center;
}

.reference-price-wrapper .source-list-wrapper .source-name {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.reference-price-wrapper .source-list-wrapper .init-status-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  cursor: pointer;
}

.reference-price-wrapper .source-list-wrapper .init-status-background {
  width: 40px;
  height: 20px;
  background-color: #000000;
  border: 1px solid #cccccc;
}

.reference-price-wrapper .source-list-wrapper .init-status-on {
  background-color: #00ff00;
  color: #000000;
  font-weight: bold;
  margin-left: 1px;
  width: 25px;
  height: 100%;
}

.reference-price-wrapper .source-list-wrapper .init-status-off {
  background-color: #ff1100;
  color: #000000;
  font-weight: bold;
  margin-left: 13px;
  width: 25px;
  height: 100%;
}

.reference-price-wrapper .source-list-wrapper .status-icon-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.reference-price-wrapper .source-list-wrapper .status-icon-wrapper .status-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 20px;
  width: 20px;
  background-color: #cccccc;
  border-radius: 3px;
  justify-content: center;
  margin-left: 2px;
}

.reference-price-wrapper .source-list-wrapper .status-icon-wrapper .status-icon-enabled {
  background-color: #00cc99;
}

.reference-price-wrapper .source-list-wrapper .status-text-ok {
  color: #02f403;
}

.reference-price-wrapper .source-list-wrapper .status-text-spike {
  color: #e4e406;
}

.reference-price-wrapper .source-list-wrapper .status-text-error {
  color: #da0708;
}

.reference-price-wrapper .source-list-wrapper .switch-wrapper {
  font-size: 10px;
  flex-direction: row;
  display: flex;
  justify-content: center;
}

.reference-price-wrapper .source-list-wrapper .switch-wrapper .switch1 {
  border: 1px solid #ffff00;
  width: 20px;
  height: 18px;
  padding: 0px;
  text-align: center;
}

.reference-price-wrapper .source-list-wrapper .switch-wrapper .switch2 {
  border: 1px solid #bd080a;
  width: 20px;
  height: 18px;
  margin-left: 5px;
  padding: 0px;
  text-align: center;
}

.reference-price-wrapper .price-info-no-data {
  height: 180px;
  text-align: center;
  line-height: 180px;
}

.reference-price-wrapper .price-info-wrapper .best-price-wrapper {
  background-color: #ffff00;
  color: #000000;
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: 16px;
}

.reference-price-wrapper .price-info-wrapper .best-price-wrapper .best-bid-price {
  width: 49%;
  font-weight: bold;
}

.reference-price-wrapper .price-info-wrapper .best-price-wrapper .spread {
  width: 1%;
}

.reference-price-wrapper .price-info-wrapper .best-price-wrapper .best-ask-price {
  width: 49%;
  font-weight: bold;
}

.reference-price-wrapper .price-info-wrapper .price-list-wrapper {
  height: 100%;
  flex-direction: row;
  font-size: 16px;
  overflow: auto;
}

.reference-price-wrapper .price-info-wrapper .price-list-wrapper .bid-price-list {
  width: 49.5%;
  display: inline-block;
  vertical-align: top;
  height: 309px;
  background: #00cc99;
}

.reference-price-wrapper .price-info-wrapper .price-list-wrapper .bid-price-list .price-row {
  background-color: #00cc99;
  border-bottom: 1px solid #000;
}

.reference-price-wrapper .price-info-wrapper .price-list-wrapper .ask-price-list {
  width: 49.5%;
  display: inline-block;
  vertical-align: top;
  height: 309px;
  background: #EA4F53;
}

.reference-price-wrapper .price-info-wrapper .price-list-wrapper .ask-price-list .price-row {
  background-color: #EA4F53;
  border-bottom: 1px solid #000;
}

.reference-price-wrapper .price-info-wrapper .price-list-wrapper .price-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  line-height: 30px;
}

.reference-price-wrapper .price-info-wrapper .price-list-wrapper .price-row div {
  width: 50%;
  text-align: center;
}
