.ant-pagination-item-active a {
  color: white !important;
}

#tradeOrder > .ant-table-content > .ant-table-body {
  margin: 0;
}

#liquidity .ant-select-selection__rendered {
  line-height: 22px;
  margin: 0;
}

.tradeOrderBox .ant-pagination {
  position: absolute;
  top: -32px;
  right: 70px;
  margin: 0 !important;
  z-index: 999;
}

.tradeOrderBox .ant-pagination input {
  background-color: #3b3f42 !important;
  border: 0 !important;
}

.tradeOrderBox .ant-spin-blur {
  overflow: visible !important;
}
