//.ant-collapse-content > .ant-collapse-content-box {
//  padding: 10px;
//}
.ant-collapse-header {
  background: #3B3F42;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  line-height: 15px !important;
}
.ant-collapse-content > .ant-collapse-content-box {
  padding: 10px !important;
}
.ant-card-wider-padding .ant-card-body {
  padding: 0px !important;
}
.collapse-name {
  //color: rgb(20, 105, 140);
  color: white;
  font-weight: 500;
  font-size: 16px;
}

#manualTrading .ant-collapse-content-box {
  padding: 0 !important;
}
.manualTradingTabs {
  .ant-tabs-nav-container {
    margin-bottom: 0
  }
  .ant-tabs-tab-active {
    background: #1890ff;
    color: #fff !important;
  }
  .ant-tabs-ink-bar-animated {
    display: none !important;
  }
}
.noboderpicker {
  input {
    border: 0
  }
}

.icon-style-self:hover {
  cursor: pointer;
}
.cardTableFullHeight {
  display: flex;
  .ant-table-wrapper {
    flex: 1;
    width: 100%;
    .ant-spin-nested-loading {
      height: 100%;
      .ant-spin-container {
        height: 100%;
        .ant-table {
          height: 100%;
          .ant-table-content {
            height: 100%;
            .ant-table-scroll {
              height: 100%;
              display: flex;
              flex-direction: column;
              .ant-table-body {
                flex: 1
              }
            }
          }
        }
      }
    }
  }
}
.executionList {
  th {
    background-color: #3B3F42 !important;
  }
}
.executionModel {
  .ant-modal-close {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
}