$switch-length: 25px;

.input-show-password {
  position: relative;

  .switch {
    right: 15px;
    height: 100%;
    position: absolute;

    & > img {
      cursor: pointer;
      width: $switch-length;
      height: $switch-length - 5;
    }
  }
}
