.odm {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.odm .content-wrapper {
  display: flex;
  flex: 1;
  padding: 5px;
}

.odm .content-wrapper .content-left {
  display: flex;
  flex-direction: column;
  flex: 5;
}

.odm .content-wrapper .content-left .symbol-list {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.odm .content-wrapper .content-left .symbol-list .title {
  height: 30px;
  line-height: 30px;
  background: #525252;
  border-radius: 3px;
}

.odm .content-wrapper .content-left .symbol-list .title .name {
  margin-left: 15px;
}

.odm .content-wrapper .content-left .symbol-list .content {
  flex: 1;
  background: #2b2b2b;
  overflow: auto;
}

.odm .content-wrapper .content-left .order-book {
  display: flex;
  flex: 1;
  margin-top: 5px;
}

.odm .content-wrapper .content-left .order-book .book2 {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 5px;
}

.odm .content-wrapper .content-left .order-book .book2 .title {
  height: 30px;
  line-height: 30px;
  background: #525252;
  border-radius: 3px;
}

.odm .content-wrapper .content-left .order-book .book2 .title .name {
  margin-left: 15px;
}

.odm .content-wrapper .content-left .order-book .book2 .content {
  flex: 1;
  background: #2b2b2b;
}

.odm .content-wrapper .content-left .order-book .book3 {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 5px;
}

.odm .content-wrapper .content-left .order-book .book3 .title {
  height: 30px;
  line-height: 30px;
  background: #525252;
  border-radius: 3px;
}

.odm .content-wrapper .content-left .order-book .book3 .title .name {
  margin-left: 15px;
}

.odm .content-wrapper .content-left .order-book .book3 .content {
  flex: 1;
  background: #2b2b2b;
}

.odm .content-wrapper .content-left .trade-record {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 5px;
}

.odm .content-wrapper .content-left .trade-record .title {
  height: 30px;
  line-height: 30px;
  background: #525252;
  border-radius: 3px;
}

.odm .content-wrapper .content-left .trade-record .title .name {
  margin-left: 15px;
}

.odm .content-wrapper .content-left .trade-record .content {
  flex: 1;
  background: #2b2b2b;
}

.odm .content-wrapper .content-right {
  display: flex;
  flex-direction: column;
  flex: 2;
  margin-left: 5px;
}

.odm .content-wrapper .content-right .risk-control {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.odm .content-wrapper .content-right .risk-control .title {
  height: 30px;
  line-height: 30px;
  background: #525252;
}

.odm .content-wrapper .content-right .risk-control .title .name {
  margin-left: 15px;
}

.odm .content-wrapper .content-right .risk-control .tool-bar {
  height: 30px;
  background: #777777;
}

.odm .content-wrapper .content-right .risk-control .content {
  flex: 1;
  background: #2b2b2b;
}

.odm .content-wrapper .content-right .notification {
  display: flex;
  flex-direction: column;
  flex: 3;
}

.odm .content-wrapper .content-right .notification .title {
  height: 30px;
  line-height: 30px;
  background: #525252;
}

.odm .content-wrapper .content-right .notification .title .name {
  margin-left: 15px;
}

.odm .content-wrapper .content-right .notification .content {
  flex: 1;
  padding: 10px 20px;
  background: #2b2b2b;
}

.odm .footer-wrapper {
  height: 30px;
  line-height: 30px;
}

.odm .footer-wrapper .footer-content {
  display: flex;
  margin-left: 3px;
}

.odm .footer-wrapper .footer-content .footer-btn {
  width: 100px;
  height: 25px;
  line-height: 25px;
  background: #4c4c4c;
  text-align: center;
  margin-left: 2px;
}

.odm .footer-wrapper .footer-content .active-btn {
  background: #1f1b1b;
}

.odm .ant-table-filter-dropdown-btns {
  background: #525252;
}

.odm .ant-table-filter-dropdown-btns a {
  color: #fff;
}

.queue-anim-leaving {
  display: none;
}
