.book {
  display: flex;
  flex-direction: column;
  flex: 1;
  .title {
    display: flex;
    justify-content: space-between;
    height: 30px;
    line-height: 30px;
    background: #525252;
    border-radius: 3px;
    .logo {
      display: flex;
      .bar {
        height: 100%;
        //border-radius: 2px;
      }
      .name {
        margin-left: 15px;
      }
    }
    .upload {
      display: flex;
      margin-right: 10px;
      align-items: center;
      justify-content: flex-end;
      .upload-icon {
        font-size: 16px;
        margin-left: 5px;
        margin-right: 15px;
      }
      .add-icon {
        font-size: 16px;
        margin-left: 5px;
        margin-right: 5px;
      }
      .delete-icon {
        font-size: 16px;
        //margin-right: 10px;
      }
    }
  }
  .content {
    display: flex;
    position: relative;
    flex-direction: column;
    flex: 1;
    background: #2b2b2b;
    padding: 3px 20px;
    font-size: 12px;
    min-width: 428px;
    .strategy-col {
      display: flex;
      justify-content: flex-end;
      height: 30px;
      line-height: 30px;
      .strategy-select {
        margin-left: 10px;

      }
    }
    .adjust-col {
      display: flex;
      height: 50px;
      justify-content: center;
      align-items: center;
      .left-adjust {
        flex: 1;
        font-size: 18px;
        font-weight: bold;
        color: #7f7f7f;
      }
      .left-bid {
        flex: 1;
        color: #00cc99;
        .bid {
          text-align: center;
        }
        .value {
          font-size: 16px;
          text-align: center;
        }
        .ant-statistic-content-value-int {
          color: #00cc99;
          font-size: 20px !important;
        }
        .ant-statistic-content-value-decimal {
          color: #00cc99;
          font-size: 36px !important;
        }
      }
      .mid {
        display: flex;
        flex: 2;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: bold;
        color: #7f7f7f;
        .mid-left-adjust {
          margin-right: 10px;
        }
        .mid-right-adjust {
          margin-left: 10px;
        }
        .mid-adjust {
          .top {
            margin-bottom: 10px;
          }
          .bottom {
            margin-top: 10px;
          }
        }
      }
      .right-ask {
        flex: 1;
        color: #EA4F53;
        .ask {
          text-align: center;
        }
        .value {
          text-align: center;
          font-size: 16px;
        }
        .ant-statistic-content-value-int {
          color: #EA4F53;
          font-size: 20px !important;
        }
        .ant-statistic-content-value-decimal {
          color: #EA4F53;
          font-size: 36px !important;
        }
      }
      .right-adjust {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: flex-end;
        align-items: flex-end;
        font-size: 18px;
        font-weight: bold;
        color: #7f7f7f;
      }
    }
    .fixed-col {
      display: flex;
      justify-content: space-between;
      height: 20px;
      line-height: 20px;
      .spread-wrapper {
        display: flex;
        .spread-input {
          margin-left: 5px;
        }
      }
      .fixed-wrapper {
        display: flex;
        .fixed-label {
          margin-left: 5px;
        }
      }
      .skew-wrapper {
        display: flex;
        .skew-input {
          margin-left: 5px;
        }
      }
    }
    .layer-col {
      display: flex;
      margin-top: 5px;
      .layer-btn {
        background-color: #60533f;
      }
    }
    .manual-name-col {
      display: flex;
      justify-content: space-between;
      margin-top: 5px;
      .adjust-btn {
        background-color: #593c3c;
      }
      :nth-child(1) {
        flex: 2;
        text-align: center;
        > div {
          width: 100%;
          min-width: 60px;
        }
      }
      :nth-child(2) {
        text-align: center;
        flex: 3;
        margin-left: 5px;
        > div {
          width: 100%;
          min-width: 70px;
        }
      }
      :nth-child(3) {
        text-align: center;
        margin-right: 3px;
        margin-left: 5px;
        .ant-btn {
          width: 105px;
        }
      }
      :nth-child(4) {
        text-align: center;
        flex: 3;
        margin-left: 5px;
        > div {
          width: 100%;
          min-width: 70px;
        }
      }
      :nth-child(5) {
        text-align: center;
        flex: 2;
        margin-left: 5px;
        > div {
          width: 100%;
          min-width: 60px;
        }
      }
    }
    .manual-col {
      display: flex;
      //flex: 1;
      justify-content: space-between;
      margin-top: 5px;
      margin-bottom: 26px;
      height: 90px;
      overflow: auto;
      input:disabled {
        cursor: default;
      }
      .bid-qty {
        flex: 2;
        > div {
          margin-top: 2px;
        }
        .qty-div {
          height: 20px;
          line-height: 20px;
          width: 100%;
          min-width: 60px;
          text-align: right;
          background-color: #00cc99;
          //background-color: #1c1c1c;
          padding-right: 5px;
        }
        .ant-input-number-input {
          text-align: right;
        }
      }
      .bid-price {
        flex: 3;
        margin-left: 5px;
        > div {
          margin-top: 2px;
        }
        .price-div {
          width: 100%;
          min-width: 70px;
          height: 20px;
          line-height: 20px;
          background-color: #00cc99;
          //background-color: #1c1c1c;
          text-align: center;
        }
      }
      .bid-adjust {
        margin-left: 5px;
        > div {
          margin-top: 2px;
        }
        .blank-div {
          width: 50px;
          height: 20px;
        }
        .ant-input-number {
          width: 50px;
        }
      }
      .ask-adjust {
        margin-left: 5px;
        > div {
          margin-top: 2px;
        }
        .blank-div {
          width: 50px;
          height: 20px;
        }
        .ant-input-number {
          width: 50px;
          //min-width: 60px;
        }
      }
      .ask-price {
        //display: flex;
        //flex-direction: column;
        //align-items: flex-end;
        flex: 3;
        margin-left: 5px;
        > div {
          margin-top: 2px;
        }
        .price-div {
          width: 100%;
          min-width: 70px;
          height: 20px;
          line-height: 20px;
          background-color: #EA4F53;
          //background-color: #1c1c1c;
          text-align: center;
        }
      }
      .ask-qty {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex: 2;
        margin-left: 5px;
        > div {
          margin-top: 2px;
        }
        .qty-div {
          height: 20px;
          line-height: 20px;
          width: 100%;
          min-width: 60px;
          text-align: left;
          background-color: #EA4F53;
          //background-color: #1c1c1c;
          padding-left: 5px;
        }
      }
    }
    .btn-col {
      position: absolute;
      bottom: 5px;
      right: 20px;
      .apply {
        color: white;
        background: #3b3f42;
      }
      .start {
        background: #05CCB2;
        margin-left: 10px;
        margin-right: 2px;
        border-radius: 2px;
      }
      .stop {
        border-radius: 2px;
        background: #EA4F53;
        margin-left: 10px;
      }
    }

    .ant-input-number {
      height: 20px;
      width: 60px;
      line-height: 20px;
    }
    .ant-input-number-input {
      color: white;
      height: 20px;
      padding: 0 5px;
    }
    .ant-checkbox-inner {
      border: 0;
      background: #1c1c1c;
    }
    .ant-btn {
      //width: 50px;
      height: 20px;
      border-radius: 0;
      padding: 0 10px;
      background: #41605f;
      color: white;
      font-size: 12px;
    }
  }
  .ant-select-selection {
    color: white;
    background: #1c1c1c;
    font-size: 12px;
  }
  .ant-select-selection__rendered {
    height: 25px;
    line-height: 25px;
  }
  .ant-select-selection--single {
    height: 25px;
  }
  .ant-select-arrow {
    color: white;
  }
}
.book:nth-child(2) {
  margin-left: 5px;
}

.book:nth-child(3) {
  margin-left: 5px;
}

.orderbook {
  .ant-modal-header {
    background: #3b3f42;
    height: 30px;
    line-height: 30px;
    display: flex;
    align-items: center;
  }
  .ant-modal-body {
    padding: 10px 0;
  }
  .ant-modal-footer {
    padding: 0;
    padding-right: 10px;
    background: #2a2a2a;
    height: 40px;
    line-height: 40px;
  }
  .ant-form-item {
    margin: 0;
  }
  .ant-select-selection {
    color: white;
    background-color: #1c1c1c;
    svg {
      color: white;
    }
  }
  .ant-select-selection__rendered {
    height: 32px;
    line-height: 32px;
  }
  .ant-upload-list-item-info {
    color: white;
    svg {
      color: white;
    }
  }
}
.ok-btn {
  background: #665f5e !important;
  height: 25px !important;
  line-height: 25px !important;
}
.cancel-btn {
  color: black !important;
  background: #bdc2d1 !important;
  height: 25px !important;
  line-height: 25px !important;
}
.orderbook {
  .ant-input {
    border: 0;
    color: white !important;
    background-color: #1c1c1c !important;
  }
}
//layer
.layer-wrapper {
  margin-left: 30px;
  .layer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    .layer-title {
      display: flex;
      align-items: center;
      .layer-label {
      }
      .layer-num {
        margin-left: 10px;
      }
    }
    .layer-qty {
      display: flex;
      margin-top: 10px;
      .layer-bid {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .layer-ask {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        align-items: center;
      }
      .layer-input {
        margin-top: 3px;
      }
    }
  }
  .ant-input-number {
    height: 25px;
    width: 80px;
  }
  .ant-input-number-input-wrap {
    height: 25px;
    line-height: 25px;
  }
  .ant-input-number-input {
    color: white;
    height: 25px;
    padding: 0 5px;
  }
}
.batch-wrapper {
  display: flex;
  justify-content: center;
  .batch-bid {
    display: flex;
    flex-direction: column;
    align-items: center;
    :nth-child(2) {
      margin-top: 2px;
    }
  }
  .batch-ask {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    :nth-child(2) {
      margin-top: 2px;
    }
  }
  .ant-input-number {
    height: 25px;
    width: 80px;
  }
  .ant-input-number-input-wrap {
    height: 25px;
    line-height: 25px;
  }
  .ant-input-number-input {
    color: white;
    height: 25px;
    padding: 0 5px;
  }
}
.clickable:hover {
  cursor: pointer;
}
