.book {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.book .title {
  display: flex;
  justify-content: space-between;
  height: 30px;
  line-height: 30px;
  background: #525252;
  border-radius: 3px;
}

.book .title .logo {
  display: flex;
}

.book .title .logo .bar {
  height: 100%;
}

.book .title .logo .name {
  margin-left: 15px;
}

.book .title .upload {
  margin-right: 15px;
}

.book .title .upload .upload-icon {
  font-size: 16px;
  margin-left: 5px;
  margin-right: 15px;
}

.book .title .upload .add-icon {
  font-size: 16px;
  margin-left: 5px;
  margin-right: 5px;
}

.book .title .upload .delete-icon {
  font-size: 16px;
}

.book .content {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1;
  background: #2b2b2b;
  padding: 3px 20px;
  font-size: 12px;
  min-width: 428px;
}

.book .content .strategy-col {
  display: flex;
  justify-content: flex-end;
  height: 30px;
  line-height: 30px;
}

.book .content .strategy-col .strategy-select {
  margin-left: 10px;
}

.book .content .adjust-col {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.book .content .adjust-col .left-adjust {
  flex: 1;
  font-size: 18px;
  font-weight: bold;
  color: #7f7f7f;
}

.book .content .adjust-col .left-bid {
  flex: 1;
  color: #00cc99;
}

.book .content .adjust-col .left-bid .bid {
  text-align: center;
}

.book .content .adjust-col .left-bid .value {
  font-size: 16px;
  text-align: center;
}

.book .content .adjust-col .mid {
  display: flex;
  flex: 2;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #7f7f7f;
}

.book .content .adjust-col .mid .mid-left-adjust {
  margin-right: 10px;
}

.book .content .adjust-col .mid .mid-right-adjust {
  margin-left: 10px;
}

.book .content .adjust-col .mid .mid-adjust .top {
  margin-bottom: 10px;
}

.book .content .adjust-col .mid .mid-adjust .bottom {
  margin-top: 10px;
}

.book .content .adjust-col .right-ask {
  flex: 1;
  color: #EA4F53;
}

.book .content .adjust-col .right-ask .ask {
  text-align: center;
}

.book .content .adjust-col .right-ask .value {
  text-align: center;
  font-size: 16px;
}

.book .content .adjust-col .right-adjust {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 18px;
  font-weight: bold;
  color: #7f7f7f;
}

.book .content .fixed-col {
  display: flex;
  justify-content: space-between;
  height: 20px;
  line-height: 20px;
}

.book .content .fixed-col .spread-wrapper {
  display: flex;
}

.book .content .fixed-col .spread-wrapper .spread-input {
  margin-left: 5px;
}

.book .content .fixed-col .fixed-wrapper {
  display: flex;
}

.book .content .fixed-col .fixed-wrapper .fixed-label {
  margin-left: 5px;
}

.book .content .fixed-col .skew-wrapper {
  display: flex;
}

.book .content .fixed-col .skew-wrapper .skew-input {
  margin-left: 5px;
}

.book .content .layer-col {
  display: flex;
  margin-top: 5px;
}

.book .content .layer-col .layer-btn {
  background-color: #60533f;
}

.book .content .manual-name-col {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.book .content .manual-name-col .adjust-btn {
  background-color: #593c3c;
}

.book .content .manual-name-col :nth-child(1) {
  flex: 2;
  text-align: center;
}

.book .content .manual-name-col :nth-child(1) > div {
  width: 100%;
  min-width: 60px;
}

.book .content .manual-name-col :nth-child(2) {
  text-align: center;
  flex: 3;
  margin-left: 5px;
}

.book .content .manual-name-col :nth-child(2) > div {
  width: 100%;
  min-width: 70px;
}

.book .content .manual-name-col :nth-child(3) {
  text-align: center;
  margin-right: 3px;
  margin-left: 5px;
}

.book .content .manual-name-col :nth-child(3) .ant-btn {
  width: 105px;
}

.book .content .manual-name-col :nth-child(4) {
  text-align: center;
  flex: 3;
  margin-left: 5px;
}

.book .content .manual-name-col :nth-child(4) > div {
  width: 100%;
  min-width: 70px;
}

.book .content .manual-name-col :nth-child(5) {
  text-align: center;
  flex: 2;
  margin-left: 5px;
}

.book .content .manual-name-col :nth-child(5) > div {
  width: 100%;
  min-width: 60px;
}

.book .content .manual-col {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 26px;
  height: 90px;
  overflow: auto;
}

.book .content .manual-col input:disabled {
  cursor: default;
}

.book .content .manual-col .bid-qty {
  flex: 2;
}

.book .content .manual-col .bid-qty > div {
  margin-top: 2px;
}

.book .content .manual-col .bid-qty .qty-div {
  height: 20px;
  line-height: 20px;
  width: 100%;
  min-width: 60px;
  text-align: right;
  background-color: #00cc99;
  padding-right: 5px;
}

.book .content .manual-col .bid-qty .ant-input-number-input {
  text-align: right;
}

.book .content .manual-col .bid-price {
  flex: 3;
  margin-left: 5px;
}

.book .content .manual-col .bid-price > div {
  margin-top: 2px;
}

.book .content .manual-col .bid-price .price-div {
  width: 100%;
  min-width: 70px;
  height: 20px;
  line-height: 20px;
  background-color: #00cc99;
  text-align: center;
}

.book .content .manual-col .bid-adjust {
  margin-left: 5px;
}

.book .content .manual-col .bid-adjust > div {
  margin-top: 2px;
}

.book .content .manual-col .bid-adjust .blank-div {
  width: 50px;
  height: 20px;
}

.book .content .manual-col .bid-adjust .ant-input-number {
  width: 50px;
}

.book .content .manual-col .ask-adjust {
  margin-left: 5px;
}

.book .content .manual-col .ask-adjust > div {
  margin-top: 2px;
}

.book .content .manual-col .ask-adjust .blank-div {
  width: 50px;
  height: 20px;
}

.book .content .manual-col .ask-adjust .ant-input-number {
  width: 50px;
}

.book .content .manual-col .ask-price {
  flex: 3;
  margin-left: 5px;
}

.book .content .manual-col .ask-price > div {
  margin-top: 2px;
}

.book .content .manual-col .ask-price .price-div {
  width: 100%;
  min-width: 70px;
  height: 20px;
  line-height: 20px;
  background-color: #EA4F53;
  text-align: center;
}

.book .content .manual-col .ask-qty {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 2;
  margin-left: 5px;
}

.book .content .manual-col .ask-qty > div {
  margin-top: 2px;
}

.book .content .manual-col .ask-qty .qty-div {
  height: 20px;
  line-height: 20px;
  width: 100%;
  min-width: 60px;
  text-align: left;
  background-color: #EA4F53;
  padding-left: 5px;
}

.book .content .btn-col {
  position: absolute;
  bottom: 5px;
  right: 20px;
}

.book .content .btn-col .apply {
  color: white;
  background: #3b3f42;
}

.book .content .btn-col .start {
  background: #05CCB2;
  margin-left: 10px;
  margin-right: 2px;
  border-radius: 2px;
}

.book .content .btn-col .stop {
  border-radius: 2px;
  background: #EA4F53;
  margin-left: 10px;
}

.book .content .ant-select-selection {
  color: white;
  background: #1c1c1c;
  font-size: 12px;
}

.book .content .ant-select-selection__rendered {
  height: 25px;
  line-height: 25px;
}

.book .content .ant-select-selection--single {
  height: 25px;
}

.book .content .ant-select-arrow {
  color: white;
}

.book .content .ant-input-number {
  height: 20px;
  width: 60px;
  line-height: 20px;
}

.book .content .ant-input-number-input {
  color: white;
  height: 20px;
  padding: 0 5px;
}

.book .content .ant-checkbox-inner {
  border: 0;
  background: #1c1c1c;
}

.book .content .ant-btn {
  height: 20px;
  border-radius: 0;
  padding: 0 10px;
  background: #41605f;
  color: white;
  font-size: 12px;
}

.book:nth-child(2) {
  margin-left: 5px;
}

.book:nth-child(3) {
  margin-left: 5px;
}

.orderbook .ant-modal-header {
  background: #3b3f42;
  height: 30px;
  line-height: 30px;
  display: flex;
  align-items: center;
}

.orderbook .ant-modal-body {
  padding: 10px 0;
}

.orderbook .ant-modal-footer {
  padding: 0;
  padding-right: 10px;
  background: #2a2a2a;
  height: 40px;
  line-height: 40px;
}

.orderbook .ant-form-item {
  margin: 0;
}

.orderbook .ant-select-selection {
  color: white;
  background-color: #1c1c1c;
}

.orderbook .ant-select-selection svg {
  color: white;
}

.orderbook .ant-select-selection__rendered {
  height: 32px;
  line-height: 32px;
}

.orderbook .ant-upload-list-item-info {
  color: white;
}

.orderbook .ant-upload-list-item-info svg {
  color: white;
}

.ok-btn {
  background: #665f5e !important;
  height: 25px !important;
  line-height: 25px !important;
}

.cancel-btn {
  color: black !important;
  background: #bdc2d1 !important;
  height: 25px !important;
  line-height: 25px !important;
}

.orderbook .ant-input {
  border: 0;
  color: white !important;
  background-color: #1c1c1c !important;
}

.layer-wrapper {
  margin-left: 30px;
}

.layer-wrapper .layer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.layer-wrapper .layer-content .layer-title {
  display: flex;
  align-items: center;
}

.layer-wrapper .layer-content .layer-title .layer-num {
  margin-left: 10px;
}

.layer-wrapper .layer-content .layer-qty {
  display: flex;
  margin-top: 10px;
}

.layer-wrapper .layer-content .layer-qty .layer-bid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layer-wrapper .layer-content .layer-qty .layer-ask {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  align-items: center;
}

.layer-wrapper .layer-content .layer-qty .layer-input {
  margin-top: 3px;
}

.layer-wrapper .ant-input-number {
  height: 25px;
  width: 80px;
}

.layer-wrapper .ant-input-number-input-wrap {
  height: 25px;
  line-height: 25px;
}

.layer-wrapper .ant-input-number-input {
  color: white;
  height: 25px;
  padding: 0 5px;
}

.batch-wrapper {
  display: flex;
  justify-content: center;
}

.batch-wrapper .batch-bid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.batch-wrapper .batch-bid :nth-child(2) {
  margin-top: 2px;
}

.batch-wrapper .batch-ask {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
}

.batch-wrapper .batch-ask :nth-child(2) {
  margin-top: 2px;
}

.batch-wrapper .ant-input-number {
  height: 25px;
  width: 80px;
}

.batch-wrapper .ant-input-number-input-wrap {
  height: 25px;
  line-height: 25px;
}

.batch-wrapper .ant-input-number-input {
  color: white;
  height: 25px;
  padding: 0 5px;
}

.clickable:hover {
  cursor: pointer;
}
