.risk-wrapper {
  height: 100%;
  .ant-table-tbody > tr > td {
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.65);
    padding: 0 !important;
    height: 26px;
  }
  .ant-table-thead > tr > th {
    color: white;
    border: 0;
    height: 26px;
  }
}
