.symbol-wrapper {
  .ant-table-tbody > tr > td {
    position: relative;
    padding: 0 !important;
    height: 25px;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.65);
  }
  .ant-table-thead > tr > th {
    color: white;
    border: 0;
  }
  .ant-statistic {
    height: 25px;
    line-height: 25px;
    .ant-statistic-content {
      height: 25px;
      font-size: 18px;
      .ant-statistic-content-value {
        .ant-statistic-content-value-int {
          font-size: 14px;
        }

        .ant-statistic-content-value-decimal {
          font-size: 14px;
        }
      }
    }
  }
  .price-style {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    .ant-statistic-content-value-int {
      font-size: 14px !important;
    }
    .ant-statistic-content-value-decimal {
      font-size: 18px !important;
    }
  }
}
