.change-password {
  flex: 1;
  display: flex;
  align-items: center;

  &-inner {
    flex: 1;

    .change-password-form {
      padding: 5px 10px;
      border: 1px solid $color-login-border;

      .title {
        padding-top: 10px;
        padding-bottom: 20px;
      }

      .btn-submit {
        width: 100%;
        border: none;
        color: $color-black;
        background: $color-change-password-btn;
      }
    }
  }
}
