.quo {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.quo .tool-bar {
  height: 30px;
  line-height: 30px;
  background: #525252;
}

.quo .tool-bar .add {
  margin-left: 15px;
}

.quo .content {
  display: flex;
  flex: 1;
  padding: 5px;
}

.quo .content .one {
  background: #2b2b2b;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.quo .content .one .deep-wrapper {
  flex: 1;
}

.quo .content .two {
  margin-left: 5px;
  background: #2b2b2b;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.quo .content .two .deep-wrapper {
  flex: 1;
}

.quo .content .three {
  margin-left: 5px;
  background: #2b2b2b;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.quo .content .three .deep-wrapper {
  flex: 1;
}

.quo .content .four {
  margin-left: 5px;
  background: #2b2b2b;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.quo .content .four .deep-wrapper {
  flex: 1;
}

.quo .ant-table-thead > tr > th {
  background: #3b3f42 !important;
}

.quo .ant-table-thead > tr > th div {
  background: #3b3f42 !important;
}

.quo .ant-table-thead > tr > th div svg {
  background: #3b3f42 !important;
}
